body{
	margin: 0 auto;
    background-image: url(image/magicpattern-oPH_5xuMgQw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 900px;
}

.container{
	width: 500px;
	height: 513px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(39, 57, 57, 0.222);
	margin-top: 160px;
	border-radius: 40px 0px;
}

.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
	border-radius: 40px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	border-radius: 100px;
    border: 2px solid #609;
    padding: 20px; 
    width: 350px;
    height: 55px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 60px;

}

.form-input::before{
	content: "\f023";
	font-family: "FontAwesome";
	padding-left: 20px;
	padding-top: 43px;
	position: absolute;
	font-size: 27px;
	color: #04e45d; 
}

.form-input:nth-child(2)::before{
	content: "\f007";
}

.btn-login{
	border-radius:80px;
	padding: 17px 20px;
	border: none;
	background-color: #df390f;
	color: #fff;
}
a.\.href-user {
    border-radius: 80px;
    padding: 15px 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 2px;
    border: none;
    background-color: #21151500;
    color: #fff;
}
h3{
	font-size: 35px;
    color: #b44ac993;
    padding: -50px -77px;
}
.wrong_psswd {
    padding-top: 0px;
    padding-right: 25px;
    padding-left: 600px;
    padding-bottom: 0px;
    font-size: 25px;
    color: #e14646;
    margin-left: 80px;
}
.admin{
    width: 500px;
	height: 500px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(39, 57, 57, 0);
	margin-top: 160px;
	border-radius: 40px 0px;
}
h2{
	margin-top: -120px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 40px;
    color: #630094;
}
.button {
	padding: 15px 30px;
    border: none;
    background-color: #df390f;
    color: #fff;
    margin-right: 49px;
    margin-left: 49px;
    border-radius: 80px;
  }
  .admin-login{
	width: 100%;
    padding: 18px 30px;
    border: none;
    background-color: #df390f;
    color: #fff;
    margin-right: 49px;
    margin-left: 3px;
    border-radius: 80px;
  }
.logoutLblPos{
    position: fixed;
    right: 10px;
    top: 20px;
    background-color: #ff1111;
    color: #fff;
    border-radius: 80px;
    padding: 10px 10px;
    border:none;
 }
 .logoutLblPos1{
    position: fixed;
      right: 110px;
      top: 20px;
      background-color: #ff1111;
      color: #fff;
      border-radius: 80px;
      padding: 10px 10px;
      border: none;
  }